
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/scss/font-awesome';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.footer-fixed {
    position: absolute;
    bottom: 20px;
}

label.required::after {
    content:" *";
    color: $red;
    font-size: 14px;
}

.form-group.has-error {
    input, select, textarea  {
        border-color: $red;
    }

    .invalid-feedback {
        display: block;
    }
}

.overlay {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    background: rgba(220, 220, 220, 0.8);
    z-index: 999999;

    .overlay-content {
        font-size: 20px;
        text-align: center;
        top: 50%;
        position: absolute;
        margin-top: -54px;
        left:0;
        right:0;
    }
}
